* {
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;

    background-color: red;

    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;

    margin: 0;
    padding: 0;
}




/* HEADER */
header {
    /* height: 100px; */
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;

    padding: 20px 20px;

    background-color: #14213D;
    color: white;

}

#logo-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.k-logo {

    background-color: white;
    color: #FCA311;
    /* text-shadow: #14213D 0 -2px; */
    -webkit-text-stroke: 2px black;

    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 700;

    height: 80px;
    width: 80px;
    margin-right: 20px;

    /* clip-path: circle(50%); */
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);    

    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    padding: 0;
    margin: 0;
}

#main-nav-ul { 
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-evenly; */
    gap: 20px;
    
	padding: 0;
	margin: 0;

    list-style-type: none; 
	
}

nav {
    display: flex;
    justify-content: right;
}

#main-nav-ul li {
    /* padding: 10px; */
}

#main-nav-ul a {
    text-decoration: none;

    font-size: 20px;
    font-weight: 600;

	padding: 10px;
    color: black;
    background-color: #E5E5E5;
    border: 0;
}

#main-nav-ul a:hover {
    background-color: #FCA311;
}




/* MAIN CONTENT */
main {
    display: flex;
    flex-wrap: wrap;

    background-color: white;

    row-gap: 40px;

    padding: 40px;

}

.main-container {
    display: flex;
    flex-wrap: wrap;

    /* padding: 20px; */
    /* margin: 40px; */

    width: 100%;

    align-items: stretch;

    /* border: 1px solid black; */
}

.main-container h2 {
    font-size: 40px;
}

.content-container {
    padding: 40px 40px;

    /* background-color: pink; */
}

.content-title-line {
    width: 100%;
    
    justify-content: space-between;

    margin-bottom: 60px;
    
}

.content-title-line h2 {
    /* font-size: 40px; */
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card-box-container {
    width: 100%;

    /* flex-wrap: nowrap; */
    justify-content: space-between;

    /* justify-content: center; */
    column-gap: 5%;
    row-gap: 40px;

    /* padding: 20px; */


}

.card-box {
    /* height: 350px; */
    /* width: 350px; */
    width: 30%;
    /* min-width: 200px; */

    position: relative;

    background-color: #14213D;
    color: white;

    box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card-box:hover {
    transition: transform 0.5s;
    transform: translate(0px, -8px) scale(1.05);
}

.card-box-img {
    height: 300px;
    width: 100%;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    background-color: white;

}

#offer-1 .card-box-img {
    background-image: url(https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/51GcJ9HNE7L.jpg);
    background-size: cover;
    background-position: center;
}

#offer-2 .card-box-img {
    background-image: url(https://www.stara.fi/wp-content/uploads/2016/04/banaaniteline19042016.jpg);
    background-size: cover;
    background-position: center;
}

#offer-3 .card-box-img {
    background-image: url(https://suomenluonto.fi/wp-content/uploads/2016/11/banaanikotelo.jpg);
    background-size: cover;
    background-position: center;
}

.card-box-text {
    /* height: 20%; */
    width: 100%;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    padding: 10px;
    background-color: #14213D;
}

.card-box-text h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.card-box-text p {
    margin: 0;
}

.sale-tag {
    background-color: white;
    color: #FCA311;
    -webkit-text-stroke: 1px black;

    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    font-weight: 700;

    height: 90px;
    width: 90px;
    margin-right: 20px;

    /* clip-path: circle(50%); */
    /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);     */

    border: 2px solid black;
    border-radius: 50%;

    position: absolute;
    top: -20px;
    left: -20px;

    display: flex;
    justify-content: center;
    align-items: center;

}

section {
    /* border: 1px solid black; */


    background-color: aquamarine;

}



aside {
    /* height: 100%; */
    min-width: 400px;

    /* border-radius: 8px; */

    background-color: #FCA311;
}

aside h2 {
    margin-bottom: 48px;
}

.link-button {
    display: inline-block;

    text-decoration: none;

	padding: 10px;
	border-radius: 8px;
    border: 2px solid black;

    color: black;
    background-color: white;
}

.link-button:hover {
    color: white;
    background-color: #14213D;
}


.width-75 {
    width: 75%;
}

.width-25 {
    width: 25%;
}

#main-hero {
    height: 650px;
    width: 100%;

    text-align: center;

    background-color: white;
    background-image: url(https://sponda.fi/wp-content/uploads/2021/12/hero_jouluvalot.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    
}

#hero-text {
    text-align: center;

    display: inline-block;

    /* position: absolute;
    top: 30%;
    right: 15%; */

    margin-top: 150px;
    padding: 20px;

    /* border: #E5E5E5 2px solid; */
    border: #FCA311 4px solid;

    border-radius: 20px;
    box-shadow: 8px 8px 8px rgb(0, 0, 0, 0.2);


    background-color: white;
    color: black;
    font-size: 40px;
}

#joulu-section {
    background-color: #E5E5E5;
}

#opening-hours-list {
    list-style-type: none;

    font-size: 18px;
    line-height: 2;

    padding: 0;
    margin: 0;
    margin-bottom: 40px;
}

#myymälät-section {
    height: 400px;

    background-color: white;
}

#ajankohtaista-section {
    /* height: 400px; */

    background-color: #E5E5E5;

}

#newsletter-form {
    font-size: 18px;
}

#newsletter-form input{
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0 16px 0;
    border-radius: 8px;
    border: 2px solid black;

    font-size: 20px;

}

#pohjakartta-section {

    display: block;

    /* background-color: #B0B4B3; */
    background-color: white;

    /* background-image: url(https://www.palladiumahmedabad.com/images/Mall-Maps-3.jpg); */

    background-size: cover;

}

#layout-map-container {
    height: auto;
    width: 80%;

    margin: auto;

    padding: 40px;
    background-color: #E5E5E5;
}

#layout-map-img {
    /* object-fit: fill; */
    height: auto;
    width: 100%;
    
    
}


/* FOOTER */
footer {
    /* position: fixed;
    bottom: 0; */

    height: 300px;
    width: 100%;

    background-color: lightcoral;
    
}

footer p {
    margin: 0;
}

@media screen and (max-width: 1700px) {
	.width-25 {
        width: 100%;
    }

    .width-75 {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .card-box {
        width: 45%;
    }

    main {
        padding: 20px;
    }

    #hero-text {
        
    }

    
}

@media screen and (max-width: 800px) {
    header {
        display: block;
    }

    nav {
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    .card-box {
        width: 100%;
    }

    main {
        padding: 10px;
    }

    /* #hero-text {
        font-size: 30px;
    } */
}